/*-----------------------
[[[  Header Section ]]]
------------------------*/
.navbar-header {
    background-color: rgba(16, 16, 1, 0.915);
    padding: 5px;
}
.navbar-header > .navbar-header-div {
    display: flex;
    gap: 11.5rem;
}
.navbar-logo > img {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
}
.navbar-logo > h1 {
    font-weight: 700;
    font-size: 1.2rem;
    color: antiquewhite;
}
.navbar-profile > a {
    font-size: 1rem;
    font-weight: 100;
    color: antiquewhite;
}
.profile span {
    color: antiquewhite;
    font-size: 1rem;
}
.profile img {
    height: 2.5rem;
    width: 2.5rem;
}
.navbar-profile,
.navbar-logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navbar-profile {
    font-size: 1rem;
    font-weight: 100;
}
.navbar-search > label {
    background-color: rgba(241, 233, 12, 0.837);
    padding: 5px 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 35px;
}
.navbar-search svg {
    fill: rgb(25, 25, 1);
    width: 2rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.navbar-search input {
    font-size: 15px;
    width: 25rem;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(41, 47, 5, 0.7);
}


/*-----------------------
[[[  Body Section ]]]
------------------------*/

.header {
    height: 5rem;
}
.body {
    background-color: rgb(220, 222, 88);
    color: rgb(199, 187, 60);
}
