{% load static %}

<header class="navbar-header">
    <div class="navbar-header-div">
        <a href="{% url 'home' %}" class="navbar-logo">
            <img src="{% static 'images/logo.png' %}" />
            <h1>Let's Talk</h1>
        </a>
        <form class="" method="GET" action="{% url 'home' %}">
            <label>
                <svg version="1.1" xmlns="" width="" height="" viewbox="" >
                    <title>Search</title>
                    <path d=""></path>
                </svg>
                <input name="m" placeholder="Enter your search here" />
            </label>
        </form>

        <nav>
            <!--Logged in-->
            {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}">
                <img src="{% static 'user.image' %}" />
                <h3>Masino</h3>
            </a>

            <!--Not Logged In-->
            {% else %}
            <a href="{% url 'home' %}">
                <img src="{% static 'images/avatar.jfif' %}">
                <h3>Login</h3>
            </a>

            {% endif %}
        </nav>

    </div>
</header>


