{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Let's Talk</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header class="header-container">
        <div class="header">
            <!--logo-->
            <div>
                <a href="{% static 'home' %}" class="logo">
                    <img src="{% static 'images/logo.png' %}" />
                    <div>Let's Talk</div>
                </a>
                
            </div>

            <!--Logged In-->
            {% if user.isauthenticated %}
            <div>
                <a>
                    <img src="{% static 'user.image' %}">
                </a>
            </div>

            <!--Not loggen In-->
            {% else %}
            <div>
                <a href="{% static 'home' %}">
                    <img src="{% static 'images/avatar.png' %}">
                </a>
            </div>
            {% endif %}
            
        </div>

    </header>
    <main>
        {% block content %}
        {% endblock content%}
    </main>
    <footer">
        <p>coprights &copy; letstalk. </p>
    </footer>

</body>
</html>
